body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

p {
  line-height: 2;
}

.description {
  text-align: left;
  line-height: 2;
  max-width: 40ch;
  margin: auto;
  padding: 1em;
}

/* Intro Section */
.header {
  background-color: #0E86D4;
  color: white;
  padding: 2%;
}

.intro-img {
  width: 200px;
  height: 200px;
}

.about-me {
  padding: 2%;
}
/* Projects Section */
.skills {
  padding: 2%;
}

.flex-grid {
  display: flex;
}

.col {
  background-color: #f2f2f2;
  flex: 1;
  padding: 1rem;
  margin: 5px;
}

.col img {
  max-width: 100px;
  width: auto;
  border-radius: 20%;
}

.col p {
  text-align: left;
}

.col a {
  text-decoration: none;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #A1ACBD;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-align: center;
}

.block:hover{
  background-color: #596473;
}

/* Connect With Me Section */
.contact-section {
  padding: 2%;
}

/* Footer */
.footer {
  background-color: #3D4756;
  color: white;
  padding: 2%;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: #a9a9a9;
}

.footer-icon {
  margin: 20px 10px;
}

/* Mobile Screens */
@media screen and (max-width: 600px) {
  .flex-grid {
    display: block;
  }
}
